Node-red Flow Dallas sensoren
[{"id":"acb9b84e.a730b8","type":"tab","label":"HeishaMon 1-wire","disabled":false,"info":""},{"id":"60fd0018.c93a2","type":"mqtt in","z":"acb9b84e.a730b8","name":"WP Aanvoer MQTT  Dallas: 080fd","topic":"panasonic_heat_pump/1wire/28b8a226000080fd","qos":"1","datatype":"utf8","broker":"8c54b13e.efee5","x":150,"y":60,"wires":[["edb6b619.d7bd88","7d28ea0a.1058f4"]]},{"id":"edb6b619.d7bd88","type":"debug","z":"acb9b84e.a730b8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":440,"y":80,"wires":[]},{"id":"9458a032.9248b","type":"mqtt out","z":"acb9b84e.a730b8","name":"","topic":"domoticz/in","qos":"1","retain":"","broker":"be996629.12e0f8","x":1150,"y":560,"wires":[]},{"id":"7d28ea0a.1058f4","type":"function","z":"acb9b84e.a730b8","name":"WP Aanvoer MQTT 12257","func":"var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = temp;\nmsg.payload.idx = 12257;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":60,"wires":[["9458a032.9248b"]]},{"id":"b6c5d4bf.b50e68","type":"mqtt in","z":"acb9b84e.a730b8","name":"WP Retour MQTT Dallas: 30218","topic":"panasonic_heat_pump/1wire/28aa246318130218","qos":"1","datatype":"utf8","broker":"a0ddb6ba.86e3f8","x":150,"y":140,"wires":[["e0481057.6a4e6","cc986934.5e74d8"]]},{"id":"e0481057.6a4e6","type":"debug","z":"acb9b84e.a730b8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":440,"y":160,"wires":[]},{"id":"cc986934.5e74d8","type":"function","z":"acb9b84e.a730b8","name":"WP Retour MQTT 12258","func":"var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = temp;\nmsg.payload.idx = 12258;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":140,"wires":[["9458a032.9248b"]]},{"id":"e186a19a.cc16a","type":"mqtt in","z":"acb9b84e.a730b8","name":"WP Compressor K MQTT Dallas: 70399","topic":"panasonic_heat_pump/1wire/28c38f7997070399","qos":"2","datatype":"utf8","broker":"a0ddb6ba.86e3f8","x":170,"y":220,"wires":[["96f8449.d9451b8","90619cf1.8139"]]},{"id":"96f8449.d9451b8","type":"debug","z":"acb9b84e.a730b8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":440,"y":240,"wires":[]},{"id":"90619cf1.8139","type":"function","z":"acb9b84e.a730b8","name":"WP Compressor K MQTT 12718","func":"var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = temp;\nmsg.payload.idx = 12718;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":220,"wires":[["9458a032.9248b"]]},{"id":"8134f630.f40f58","type":"comment","z":"acb9b84e.a730b8","name":"Informatie","info":"Aan de linkerkant dien je de nummers na panasonic_heat_pump/1wire/ aan te passen aan jouw situatie. De nummers vindt je in Heishamon webpagina.\n\nIn de gele vlakken vul je het juiste IDX nummer in.\n\nVerder pas je de juiste server nummers aan.","x":300,"y":20,"wires":[]},{"id":"cd40ebff.dea938","type":"mqtt in","z":"acb9b84e.a730b8","name":"WP Compressor W MQTT Dallas: 50369","topic":"panasonic_heat_pump/1wire/288b607997050369","qos":"2","datatype":"utf8","broker":"2148c5d5.2e368a","x":180,"y":300,"wires":[["8214de50.bd952","7594cc7f.c9d6e4"]]},{"id":"8214de50.bd952","type":"debug","z":"acb9b84e.a730b8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":440,"y":320,"wires":[]},{"id":"103ee0bf.c5a64f","type":"function","z":"acb9b84e.a730b8","name":"WP Compressor W MQTT12717","func":"var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = temp;\nmsg.payload.idx = 12717;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":300,"wires":[["9458a032.9248b"]]},{"id":"522a3380.ae5ebc","type":"mqtt in","z":"acb9b84e.a730b8","name":"WP Inzuig MQTT Dallas: 00007f","topic":"panasonic_heat_pump/1wire/283734080900007f","qos":"2","datatype":"utf8","broker":"2148c5d5.2e368a","x":150,"y":380,"wires":[["4188721f.a3503c","1cd00abe.6d2125"]]},{"id":"1cd00abe.6d2125","type":"debug","z":"acb9b84e.a730b8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":440,"y":400,"wires":[]},{"id":"4188721f.a3503c","type":"function","z":"acb9b84e.a730b8","name":"WP Inzuig MQTT 12055","func":"var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = temp;\nmsg.payload.idx = 12055;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":380,"wires":[["9458a032.9248b"]]},{"id":"f5df8b51.19db08","type":"mqtt in","z":"acb9b84e.a730b8","name":"WP E unit Dallas : c02b4","topic":"panasonic_heat_pump/1wire/281f9877910c02b4","qos":"2","datatype":"utf8","broker":"c2978dc7.a699","x":130,"y":540,"wires":[["ffaf578.4ab15a8","188210f2.97ecff"]]},{"id":"ffaf578.4ab15a8","type":"debug","z":"acb9b84e.a730b8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":440,"y":560,"wires":[]},{"id":"639d9b34.0d9264","type":"function","z":"acb9b84e.a730b8","name":"WP E unit 13793","func":"var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = temp;\nmsg.payload.idx = 13793;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":540,"wires":[["9458a032.9248b"]]},{"id":"84266f4.f831c9","type":"mqtt in","z":"acb9b84e.a730b8","name":"WP W unit Dallas: 20237","topic":"panasonic_heat_pump/1wire/2808e87791120237","qos":"2","datatype":"utf8","broker":"2148c5d5.2e368a","x":130,"y":620,"wires":[["24d4747b.6eecfc","eac21eb6.8846b"]]},{"id":"24d4747b.6eecfc","type":"debug","z":"acb9b84e.a730b8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":440,"y":640,"wires":[]},{"id":"c9c463ca.db09a","type":"function","z":"acb9b84e.a730b8","name":"WP W unit 12259","func":"var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = temp;\nmsg.payload.idx = 12259;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":620,"wires":[["9458a032.9248b"]]},{"id":"c5cf2851.f8c388","type":"mqtt in","z":"acb9b84e.a730b8","name":"WP Uitblaas MQTT Dallas: 4014d","topic":"panasonic_heat_pump/1wire/28aaf8613d14014d","qos":"2","datatype":"utf8","broker":"8c54b13e.efee5","x":150,"y":460,"wires":[["89fb2d0c.56c61","e5833ace.7be8d8"]]},{"id":"89fb2d0c.56c61","type":"debug","z":"acb9b84e.a730b8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":440,"y":480,"wires":[]},{"id":"944477b1.4c6528","type":"function","z":"acb9b84e.a730b8","name":"WP Uitblaas MQTT 12056","func":"var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = temp;\nmsg.payload.idx = 12056;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":460,"wires":[["9458a032.9248b"]]},{"id":"4a797eb0.41dc5","type":"mqtt in","z":"acb9b84e.a730b8","name":"WP Lekbak MQTT Dallas: 1401d0","topic":"panasonic_heat_pump/1wire/28aa9fb83f1401d0","qos":"2","datatype":"utf8","broker":"2148c5d5.2e368a","x":160,"y":700,"wires":[["4b23732a.f106fc","aa45218.f219fe"]]},{"id":"4b23732a.f106fc","type":"debug","z":"acb9b84e.a730b8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":440,"y":720,"wires":[]},{"id":"aa45218.f219fe","type":"function","z":"acb9b84e.a730b8","name":"WP Lekbak MQTT 12260","func":"var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = temp;\nmsg.payload.idx = 12260;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":700,"wires":[["9458a032.9248b"]]},{"id":"9dc3e91.aca2918","type":"mqtt in","z":"acb9b84e.a730b8","name":"WP Grind MQTT Dallas: 603ad","topic":"panasonic_heat_pump/1wire/28ff34b0471603ad","qos":"2","datatype":"utf8","broker":"a0ddb6ba.86e3f8","x":150,"y":780,"wires":[["2a0ddea.7548822","4621ef02.6051e"]]},{"id":"2a0ddea.7548822","type":"debug","z":"acb9b84e.a730b8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":440,"y":800,"wires":[]},{"id":"4621ef02.6051e","type":"function","z":"acb9b84e.a730b8","name":"WP Grind MQTT 12261","func":"var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = temp;\nmsg.payload.idx = 12261;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":780,"wires":[["9458a032.9248b"]]},{"id":"93e46b51.d74ab8","type":"mqtt in","z":"acb9b84e.a730b8","name":"WP Buiten MQTT: Dallas 50310","topic":"panasonic_heat_pump/1wire/283f6e7997050310","qos":"2","datatype":"utf8","broker":"a0ddb6ba.86e3f8","x":150,"y":860,"wires":[["40e8d51e.4fcf7c","5dc48567.4369cc"]]},{"id":"5dc48567.4369cc","type":"debug","z":"acb9b84e.a730b8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":440,"y":880,"wires":[]},{"id":"40e8d51e.4fcf7c","type":"function","z":"acb9b84e.a730b8","name":"WP Buiten MQTT 12057","func":"var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = temp;\nmsg.payload.idx = 12057;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":860,"wires":[["9458a032.9248b"]]},{"id":"15273011.01b6a","type":"mqtt in","z":"acb9b84e.a730b8","name":"WP E unit Boven Compressor  Dallas: ","topic":"1","qos":"2","datatype":"utf8","broker":"fb86ed68.79df4","x":170,"y":940,"wires":[["376f6009.37e35","267fe0e8.39de3"]]},{"id":"267fe0e8.39de3","type":"debug","z":"acb9b84e.a730b8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":440,"y":960,"wires":[]},{"id":"376f6009.37e35","type":"function","z":"acb9b84e.a730b8","name":"","func":"var temp = msg.payload;\nmsg.payload = {};\nmsg.payload.svalue = temp;\nmsg.payload.idx = 46;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":940,"wires":[["9458a032.9248b"]]},{"id":"7594cc7f.c9d6e4","type":"delay","z":"acb9b84e.a730b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"29","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":300,"wires":[["103ee0bf.c5a64f"]]},{"id":"180d0fef.e0c8","type":"delay","z":"acb9b84e.a730b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":380,"wires":[[]]},{"id":"e5833ace.7be8d8","type":"delay","z":"acb9b84e.a730b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"31","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":460,"wires":[["944477b1.4c6528"]]},{"id":"188210f2.97ecff","type":"delay","z":"acb9b84e.a730b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"40","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":540,"wires":[["639d9b34.0d9264"]]},{"id":"eac21eb6.8846b","type":"delay","z":"acb9b84e.a730b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"42","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":620,"wires":[["c9c463ca.db09a"]]},{"id":"8c54b13e.efee5","type":"mqtt-broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":15,"cleansession":true,"birthQos":"0","willQos":"0"},{"id":"be996629.12e0f8","type":"mqtt-broker","name":"","broker":"192.168.5.70","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"Domoticz","birthQos":"2","birthRetain":"true","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a0ddb6ba.86e3f8","type":"mqtt-broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":15,"cleansession":true,"birthQos":"0","willQos":"0"},{"id":"2148c5d5.2e368a","type":"mqtt-broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":15,"cleansession":true,"birthQos":"0","willQos":"0"},{"id":"c2978dc7.a699","type":"mqtt-broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":15,"cleansession":true,"birthQos":"0","willQos":"0"},{"id":"fb86ed68.79df4","type":"mqtt-broker","name":"","broker":"192.168.1.1","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
