Node-red Flow Shelly
[{"id":"205d1887.e41d78","type":"tab","label":"WP Shelly Power [ Herman ]","disabled":false,"info":""},{"id":"fb6c9a9a.a2b2f8","type":"mqtt in","z":"205d1887.e41d78","d":true,"name":"Shelly-Warmtepomp- Energy","topic":"shellies/Shelly-Warmtepomp-25-C48DB3/relay/0/energy","qos":"2","datatype":"json","broker":"19ad047b.79d1bc","x":120,"y":420,"wires":[["bc71cdb9.12fb4"]]},{"id":"24d95fb2.70417","type":"mqtt in","z":"205d1887.e41d78","d":true,"name":"Shelly-Warmtepomp-Power","topic":"shellies/Shelly-Warmtepomp-25-C48DB3/relay/0/power","qos":"2","datatype":"json","broker":"1c4be104.a31c9f","x":120,"y":480,"wires":[["bc71cdb9.12fb4"]]},{"id":"171a7d92.489452","type":"inject","z":"205d1887.e41d78","name":"Inject Energy","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"shellies/Shelly-Warmtepomp-25-C48DB3/relay/0/energy","payload":"336743","payloadType":"num","x":170,"y":360,"wires":[["bc71cdb9.12fb4"]]},{"id":"9b951f51.10b4","type":"inject","z":"205d1887.e41d78","name":"Inject Power","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"shellies/Shelly-Warmtepomp-25-C48DB3/relay/0/power","payload":"20.07","payloadType":"num","x":170,"y":540,"wires":[["bc71cdb9.12fb4"]]},{"id":"1e46e4ff.347a4b","type":"function","z":"205d1887.e41d78","name":"idx: 13511","func":"var power = {};\nvar energy = {};\nif (msg.topic == \"shellies/Shelly-Warmtepomp-25-C48DB3/relay/0/power\") {\n    power = msg.payload[1].toString();\n    energy = (msg.payload[0]/60).toString();\n}\nif (msg.topic == \"shellies/Shelly-Warmtepomp-25-C48DB3/relay/0/energy\") {\n    power = msg.payload[0].toString();    \n    energy = (msg.payload[1]/60).toString();\n}\nmsg.payload = {\"command\":\"udevice\",\"idx\":13511,\"nvalue\":0,\"svalue\":power + \";\" + energy};\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":440,"wires":[["7e50afe0.75cca","7f1db6e1.dbb2d8"]]},{"id":"7e50afe0.75cca","type":"debug","z":"205d1887.e41d78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":500,"wires":[]},{"id":"bc71cdb9.12fb4","type":"join","z":"205d1887.e41d78","name":"Merge Power and Energy","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":430,"y":440,"wires":[["b3c114e4.0c6e58","675d196.4bb5ee8"]]},{"id":"b3c114e4.0c6e58","type":"debug","z":"205d1887.e41d78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":380,"wires":[]},{"id":"7f1db6e1.dbb2d8","type":"mqtt out","z":"205d1887.e41d78","d":true,"name":"domoticz/in","topic":"domoticz/in","qos":"1","retain":"","broker":"8c54b13e.efee5","x":1150,"y":440,"wires":[]},{"id":"675d196.4bb5ee8","type":"delay","z":"205d1887.e41d78","name":"Rate limit - 1 /10sec","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":700,"y":440,"wires":[["1e46e4ff.347a4b"]]},{"id":"63bf2c36.4b30b4","type":"comment","z":"205d1887.e41d78","d":true,"name":"WPomp Flow Herman Domoticz ","info":"","x":450,"y":340,"wires":[]},{"id":"c0bfc852.df16c8","type":"mqtt in","z":"205d1887.e41d78","name":"Shelly-Warmtepomp- Energy","topic":"shellies/Shelly-Warmtepomp-25-C48DB3/relay/0/energy","qos":"2","datatype":"json","broker":"19ad047b.79d1bc","x":120,"y":140,"wires":[["aecb65b2.35bda8"]]},{"id":"a2c59c98.aba48","type":"mqtt in","z":"205d1887.e41d78","name":"Shelly-Warmtepomp-Power","topic":"shellies/Shelly-Warmtepomp-25-C48DB3/relay/0/power","qos":"2","datatype":"json","broker":"1c4be104.a31c9f","x":120,"y":200,"wires":[["aecb65b2.35bda8"]]},{"id":"833dffc3.0bf63","type":"inject","z":"205d1887.e41d78","name":"Inject Energy","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"shellies/Shelly-Warmtepomp-25-C48DB3/relay/0/energy","payload":"336743","payloadType":"num","x":170,"y":80,"wires":[["aecb65b2.35bda8"]]},{"id":"5ffe42fc.ac64ac","type":"inject","z":"205d1887.e41d78","name":"Inject Power","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"shellies/Shelly-Warmtepomp-25-C48DB3/relay/0/power","payload":"20.07","payloadType":"num","x":170,"y":260,"wires":[["aecb65b2.35bda8"]]},{"id":"f616a255.b4cb9","type":"function","z":"205d1887.e41d78","name":"idx: 13511 WP Verbruik Shelly","func":"var power = {};\nvar energy = {};\nif (msg.topic == \"shellies/Shelly-Warmtepomp-25-C48DB3/relay/0/power\") {\n    power = msg.payload[1].toString();\n    energy = (msg.payload[0]/60).toString();\n}\nif (msg.topic == \"shellies/Shelly-Warmtepomp-25-C48DB3/relay/0/energy\") {\n    power = msg.payload[0].toString();    \n    energy = (msg.payload[1]/60).toString();\n}\nmsg.payload = {\"command\":\"udevice\",\"idx\":13511,\"nvalue\":0,\"svalue\":power + \";\" + energy};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":120,"wires":[["802fb854.0de8a8","fa9b74af.06f418"]]},{"id":"802fb854.0de8a8","type":"debug","z":"205d1887.e41d78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":220,"wires":[]},{"id":"aecb65b2.35bda8","type":"join","z":"205d1887.e41d78","name":"Merge Power and Energy","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":430,"y":160,"wires":[["f616a255.b4cb9","3d0805b.64c53fa"]]},{"id":"3d0805b.64c53fa","type":"debug","z":"205d1887.e41d78","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":640,"y":200,"wires":[]},{"id":"fa9b74af.06f418","type":"mqtt out","z":"205d1887.e41d78","name":"domoticz/in","topic":"domoticz/in","qos":"1","retain":"","broker":"8c54b13e.efee5","x":1150,"y":160,"wires":[]},{"id":"36d4263c.351a5a","type":"comment","z":"205d1887.e41d78","d":true,"name":"WPomp Flow Herman Domoticz ","info":"","x":450,"y":60,"wires":[]},{"id":"19ad047b.79d1bc","type":"mqtt-broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":15,"cleansession":true,"birthQos":"0","willQos":"0"},{"id":"1c4be104.a31c9f","type":"mqtt-broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":15,"cleansession":true,"birthQos":"0","willQos":"0"},{"id":"8c54b13e.efee5","type":"mqtt-broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":15,"cleansession":true,"birthQos":"0","willQos":"0"}]
