Node-red Flow So meters
[{"id":"bf094556.58f788","type":"tab","label":"Heishamon S0 Ygor ]","disabled":false,"info":""},{"id":"57ceef01.7f5fc","type":"mqtt in","z":"bf094556.58f788","name":"","topic":"panasonic_heat_pump/s0/Watt/1","qos":"2","datatype":"auto","broker":"3e630d65.08c842","x":150,"y":40,"wires":[["cba75e5.9514aa"]]},{"id":"a924022e.b035d","type":"mqtt out","z":"bf094556.58f788","name":"","topic":"domoticz/in","qos":"0","retain":"","broker":"e9c61ed1.6e669","x":1130,"y":40,"wires":[]},{"id":"cba75e5.9514aa","type":"function","z":"bf094556.58f788","name":"IDX 13797 adder","func":"\nvar idx_no = 13797\nvar watthour = Number(flow.get(\"watthour1\"));\nwatthour = isNaN(watthour) ? 0 : watthour;\nvar watt = Number(msg.payload); \n\nmsg.payload = `{\\n \"idx\" : ${idx_no}, \"nvalue\" : 0, \"svalue\" : \"${watt};${watthour}\"\\n}`;\n\nreturn msg ;","outputs":1,"noerr":0,"x":550,"y":40,"wires":[["2ee7bdcf.378bf2","a924022e.b035d"]]},{"id":"1d89e171.11feff","type":"mqtt in","z":"bf094556.58f788","name":"","topic":"panasonic_heat_pump/s0/Watthour/1","qos":"2","datatype":"auto","broker":"3e630d65.08c842","x":170,"y":160,"wires":[["3f5c405c.933ff"]]},{"id":"2ee7bdcf.378bf2","type":"debug","z":"bf094556.58f788","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":720,"y":80,"wires":[]},{"id":"e9800370.82ef8","type":"mqtt in","z":"bf094556.58f788","name":"","topic":"panasonic_heat_pump/s0/Watt/2","qos":"2","datatype":"auto","broker":"3e630d65.08c842","x":150,"y":340,"wires":[["afea8578.8d82e8"]]},{"id":"e8505ee.2c068a","type":"mqtt out","z":"bf094556.58f788","name":"","topic":"domoticz/in","qos":"0","retain":"","broker":"e9c61ed1.6e669","x":1130,"y":340,"wires":[]},{"id":"afea8578.8d82e8","type":"function","z":"bf094556.58f788","name":"IDX 13798 adder","func":"\nvar idx_no = 13798\nvar watthour = Number(flow.get(\"watthour2\"));\nwatthour = isNaN(watthour) ? 0 : watthour;\nvar watt = Number(msg.payload); \n\nmsg.payload = `{\\n \"idx\" : ${idx_no}, \"nvalue\" : 0, \"svalue\" : \"${watt};${watthour}\"\\n}`;\n\nreturn msg ;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":340,"wires":[["af2b7c48.da65c","e8505ee.2c068a"]]},{"id":"69afb192.17138","type":"mqtt in","z":"bf094556.58f788","name":"","topic":"panasonic_heat_pump/s0/Watthour/2","qos":"2","datatype":"auto","broker":"3e630d65.08c842","x":170,"y":460,"wires":[["12d74bec.3b0d44"]]},{"id":"af2b7c48.da65c","type":"debug","z":"bf094556.58f788","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":720,"y":380,"wires":[]},{"id":"3f5c405c.933ff","type":"change","z":"bf094556.58f788","name":"Set flow variable watthour1","rules":[{"t":"set","p":"watthour1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":160,"wires":[[]]},{"id":"12d74bec.3b0d44","type":"change","z":"bf094556.58f788","name":"Set flow variable watthour2","rules":[{"t":"set","p":"watthour2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":460,"wires":[[]]},{"id":"3e630d65.08c842","type":"mqtt-broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":15,"cleansession":true,"birthQos":"0","willQos":"0"},{"id":"e9c61ed1.6e669","type":"mqtt-broker","name":"","broker":"192.168.5.70","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"Domoticz","birthQos":"2","birthRetain":"true","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
