Node-red Flow Dauwpunt
[{"id":"618ffa54.e0f354","type":"tab","label":"Dauwpunt  1 sensor ","disabled":false,"info":""},{"id":"7e3b0e3e.4208a","type":"mqtt in","z":"618ffa54.e0f354","name":"","topic":"zigbee2mqtt/ZBXA: Woonkamer","qos":"2","datatype":"json","broker":"4d39fb4a.bf7d54","x":170,"y":120,"wires":[["a9d835e3.4f6b58","eeeb428d.1a6ec"]]},{"id":"a9d835e3.4f6b58","type":"function","z":"618ffa54.e0f354","name":"To Domoticz 13584","func":"function dewpoint(T,RH) {\nvar TD = 243.04 * (Math.log(RH/100)+((17.625*T)/(243.04+T)))/(17.625-Math.log(RH/100)-((17.625*T)/(243.04+T)));\nreturn TD;\n}\n\nmsg.payload = {\"command\":\"udevice\",\"idx\":13584,\"nvalue\":0,\"svalue\":dewpoint(msg.payload.temperature,msg.payload.humidity).toString()};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":120,"wires":[["b592ec03.ba15d","46235480.71554c"]]},{"id":"1dfd5795.1e11c8","type":"mqtt out","z":"618ffa54.e0f354","name":"Domoticz In","topic":"domoticz/in","qos":"0","retain":"false","broker":"adf311af.e262f","x":1150,"y":120,"wires":[]},{"id":"b592ec03.ba15d","type":"debug","z":"618ffa54.e0f354","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":740,"y":160,"wires":[]},{"id":"eeeb428d.1a6ec","type":"debug","z":"618ffa54.e0f354","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":400,"y":160,"wires":[]},{"id":"b3e01df0.02339","type":"comment","z":"618ffa54.e0f354","d":true,"name":"Firewizard Domoticz forum","info":"https://www.domoticz.com/forum/viewtopic.php?f=4&t=32830","x":390,"y":60,"wires":[]},{"id":"46235480.71554c","type":"rbe","z":"618ffa54.e0f354","name":"Alleen als veranderd","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":920,"y":120,"wires":[["1dfd5795.1e11c8"]]},{"id":"90fe6095.8b0a4","type":"comment","z":"618ffa54.e0f354","d":true,"name":"Trots eerste [ bijna] zelfgemaakte .","info":"","x":680,"y":240,"wires":[]},{"id":"80b3ddd8.b5516","type":"mqtt in","z":"618ffa54.e0f354","name":"Panasonic warmtepomp Temp","topic":"panasonic_heat_pump/sdc/Main_Outlet_Temp","qos":"2","datatype":"json","broker":"4ceeb610.ed4be8","x":140,"y":360,"wires":[["6e5bb65c.18b828","af3a22c1.8582b"]]},{"id":"c32bc38b.c9063","type":"mqtt in","z":"618ffa54.e0f354","name":"Woonkamer Hum","topic":"zigbee2mqtt/ZBXA: Woonkamer","qos":"2","datatype":"json","broker":"4ceeb610.ed4be8","x":100,"y":440,"wires":[["88339e01.23086","9623a6fd.7ec6a8"]]},{"id":"6e5bb65c.18b828","type":"debug","z":"618ffa54.e0f354","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":180,"y":300,"wires":[]},{"id":"877dd854.947868","type":"function","z":"618ffa54.e0f354","name":"To Domoticz 13585","func":"function dewpoint(T,RH) {\nvar TD = 243.04 * (Math.log(RH/100)+((17.625*T)/(243.04+T)))/(17.625-Math.log(RH/100)-((17.625*T)/(243.04+T)));\nreturn TD;\n}\n\nvar temp;\nvar rel_hum;\nif (msg.topic == \"panasonic_heat_pump/sdc/Main_Outlet_Temp\") {\n    temp = msg.payload[1];\n    rel_hum = msg.payload[0];\n}\nif (msg.topic == \"zigbee2mqtt/ZBXA: Woonkamer\") {\n    temp = msg.payload[0];    \n    rel_hum = msg.payload[1];\n}\n\nmsg.payload = {\"command\":\"udevice\",\"idx\":13585,\"nvalue\":0,\"svalue\":dewpoint(temp,rel_hum).toString()};\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":360,"wires":[["7ac0f81e.bc8c58","f2a6bc37.0ea65"]]},{"id":"f2a6bc37.0ea65","type":"debug","z":"618ffa54.e0f354","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":300,"wires":[]},{"id":"7ac0f81e.bc8c58","type":"mqtt out","z":"618ffa54.e0f354","name":"Domoticz In","topic":"domoticz/in","qos":"0","retain":"false","broker":"4fb01791.4e6358","x":1150,"y":360,"wires":[]},{"id":"88339e01.23086","type":"debug","z":"618ffa54.e0f354","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":90,"y":500,"wires":[]},{"id":"4793856b.79a0cc","type":"debug","z":"618ffa54.e0f354","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":500,"wires":[]},{"id":"af3a22c1.8582b","type":"join","z":"618ffa54.e0f354","name":"Merge Temperature & Humidity","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":470,"y":360,"wires":[["877dd854.947868"]]},{"id":"9623a6fd.7ec6a8","type":"change","z":"618ffa54.e0f354","name":"","rules":[{"t":"move","p":"payload.humidity","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":440,"wires":[["4793856b.79a0cc","af3a22c1.8582b"]]},{"id":"4d39fb4a.bf7d54","type":"mqtt-broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":15,"cleansession":true,"birthQos":"0","willQos":"0"},{"id":"adf311af.e262f","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4ceeb610.ed4be8","type":"mqtt-broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":15,"cleansession":true,"birthQos":"0","willQos":"0"},{"id":"4fb01791.4e6358","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
